.product {
  width: 12vw;
  max-width: 200px;
}

.product-image-miniature {
  max-width: 200px;
}

@media screen and (max-width: 1199px) {
  .product {
    width: 17vw;
    margin: 0 auto;
  }

  #related-products-title {
    text-align: center;
  }
}

@media screen and (max-width: 656px) {
  .product {
    width: 150px;
  }
}
