#highlighted-image {
  width: 30vw;
  height: 30vw;
  min-width: 150px;
  min-height: 150px;
}

.product-big-picture {
  max-width: 552px;
  max-height: 552px;
}

.product-small-picture {
  width: 100%;
  max-width: 164px;
}

.product-small-picture:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .product-big-picture {
    max-width: 350px;
  }

  .product-small-picture {
    max-width: 104px;
  }
}
