.bg-light,
.bg-light > img {
  border-radius: 39px !important;
}

@media screen and (max-width: 799px) {
  #category-image,
  #top-select,
  #description {
    display: none;
  }

  #top-filters {
    align-items: center;
  }

  #paging {
    margin: 0 auto;
  }

  #left-filters {
    display: none;
  }
}