#product {
  margin: 30px 10%;
}

#product-big-picture {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  border-radius: 8%;
}

.product-small-picture {
  width: 100%;
}

#product-description {
  margin-bottom: 2.5em !important;
  line-height: 2.5em;
}

.ticks {
  padding-left: 0;
  margin-top: 2.5em;
}

.ticks > li {
  display: flex;
}

.ticks > li > img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
