/* * Searchbox */
#occasions h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.1rem;
}

/* * Banner */
#banner {
  padding-left: 20%;
}

#banner-title {
  font-size: 2vw;
}

#banner-sub {
  font-size: 1.5vw;
}

@media screen and (max-width: 1199px) {
  #banner {
    text-align: center;
    padding-left: 0;
  }

  #banner button {
    margin: 0 auto 30px auto;
  }

  #banner-title {
    font-size: 1.3rem;
  }

  #banner-sub {
    font-size: 1rem;
  }
}

/* * Presentation */
#presentation {
  padding-left: 60px;
  padding-right: 60px;
}

/* * Occasions */
#occasions > .col > a:hover {
  text-decoration: none;
}

.logo-occasion {
  height: 52px;
}

#occasions > .col > a:hover {
  transform: scale(1.1);
  text-decoration: none;
}
