/* * Searchbox */
#occasions h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.1rem;
}

/* * Presentation */
#presentation {
  padding-left: 60px;
  padding-right: 60px;
}

/* * Occasions */
.logo-occasion {
  height: 52px;
}

.occasion {
  margin: 24px 0;
}
.occasion:hover {
  transform: scale(1.1);
}
