#banner {
  padding-left: 20%;
}

#banner-title {
  font-size: 2vw;
}

#banner-sub {
  font-size: 1.5vw;
}

@media screen and (max-width: 1199px) {
  #banner {
    text-align: center;
    padding-left: 0;
  }

  #banner button {
    margin: 0 auto 30px auto;
  }

  #banner-title {
    font-size: 1.3rem;
  }

  #banner-sub {
    font-size: 1rem;
  }
}

/* * Shapes */
.triangle,
.circle,
.halo,
.pill {
  position: absolute;
  z-index: -1;
}

.circle {
  border: none;
  border-radius: 100%;
}
