html {
    font-family: "Poppins";
}

/* Footer link hover effect */
.footer-hover a:hover {
    color: black;
}

/* Filter section headings */
h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}